.userSections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.userSections h2 {
  font-size: 32px;
  text-align: center;
  color: var(--whiteBg);
  margin: 0;
}

.editNameBtn {
  padding: 10px;
  margin: 20px 0px;
  background-color: var(--lightGreen);
  color: var(--whiteBg);
  border-color: var(--lightGreen);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.editNameBtn:hover {
  background-color: var(--deepGreen);
  border-color: var(--deepGreen);
}
