.headerBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
    height: 65px;
}

.logoHeader {
    width: 175px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    gap: 3px;
    color: var(--blackText);
}

.user:hover {
    color: var(--deepGreen);
    text-decoration: underline;
}