.ErrorBloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 0px 10px;
}

.ErrorBloc h2 {
  color: var(--whiteBg);
  font-size: 45px;
  margin: 0;
}

.ErrorBloc p {
  color: var(--whiteBg);
  text-align: center;
  font-size: 18px;
}

.backButton {
  padding: 10px;
  margin-top: 10px;
  background-color: var(--lightGreen);
  color: var(--whiteBg);
  border-right: solid var(--deepGreen) 2px;
  border-bottom: solid var(--deepGreen) 2px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.backButton:hover {
  background-color: var(--deepGreen);
  border-color: var(--deepGreen);
}
