:root {
  --lightGreen: #00bc77;
  --deepGreen: #005834;
  --deepBlue: #12002b;
  --blackText: #2c3e50;
  --whiteBg: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: var(--blackText);
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 100vh;
}

main {
  flex: 1;
}

.darkBg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 45px 15px 30px 15px;
  background-color: var(--deepBlue);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
