:root {
  --lightGreen: #00BC77;
  --deepGreen: #005834;
  --deepBlue: #12002B;
  --blackText: #2c3e50;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: var(--blackText);
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; 
}